*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
body {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;
}
.divSelections {
  padding: 10px;
  background-color: blueviolet;
}

h2,
h3 {
  text-align: center;
}

.radioBox {
  display: flex;
  justify-content: space-between;
}

#res {
  background-color: rgb(170, 71, 71);
  width: 200px;
  height: 100px;
}
